
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
<script src="https://sdk.videosdk.live/rtc-js-prebuilt/0.1.4/rtc-js-prebuilt.js"></script>
<title><?php echo $title_web;?></title>
<style>
    #bg{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
        background: #DFC6C0;
        border-radius: 30px 30px 0px 0px;
        opacity: 80%;
    }
    #b{
        margin-left: 30%;
        margin-right: 30%;
        background: #DFC6C0;
        opacity: 80%;
    }
    #g{
        margin-bottom: 25%;
        margin-left: 30%;
        margin-right: 30%;
        background: #DFC6C0;
        opacity: 80%;
        border-radius: 0px 0px 30px 30px;
    }
</style>
</head>
<body style="background-image: url('https://images.cloudflareapps.com/ij5s5higSzWcOB6vks5Q_background-1.jpeg');background-repeat: no-repeat;background-size: cover;">
<div id="bg" class="p-3 text-center mb-1">
    <h4 class="fw-bold">PERINGATAN</h4>
    <h5 class="">Memuat Konten...</h5>
</div>
<div id="b" class="p-3 text-center mb-1">
    <h4 class="fw-bold text-primary">OKE</h4>
</div>
<div id="g" class="p-3 text-center mb-1">
    <h4 class="text-primary">BODO AMAT</h4>
</div>
<script>
  var script = document.createElement("script");
  script.type = "text/javascript";

  script.addEventListener("load", function (event) {
    const meeting = new VideoSDKMeeting();

    const config = {
      name: "Masukan nama anda",
      apiKey: "613cf357-fb7f-446f-b88a-147c5a3f6b29", // generated in Setup
      meetingId: "milkyway", // enter your meeting id

      containerId: null,
      redirectOnLeave: "https://www.videosdk.live/",

      micEnabled: true,
      webcamEnabled: true,
      participantCanToggleSelfWebcam: true,
      participantCanToggleSelfMic: true,

      chatEnabled: true,
      screenShareEnabled: true,
      pollEnabled: true,
      whiteBoardEnabled: true,
      raiseHandEnabled: true,

      recordingEnabled: true,
      recordingWebhookUrl: "https://www.videosdk.live/callback",
      participantCanToggleRecording: true,

      brandingEnabled: true,
      brandLogoURL: "https://picsum.photos/200",
      brandName: "Awesome startup",
      poweredBy: true,

      participantCanLeave: true, // if false, leave button won't be visible

      // Live stream meeting to youtube
      livestream: {
        autoStart: true,
        outputs: [
          // {
          //   url: "rtmp://x.rtmp.youtube.com/live2",
          //   streamKey: "<STREAM KEY FROM YOUTUBE>",
          // },
        ],
      },

      permissions: {
        askToJoin: false, // Ask joined participants for entry in meeting
        toggleParticipantMic: true, // Can toggle other participant's mic
        toggleParticipantWebcam: true, // Can toggle other participant's webcam
      },

      joinScreen: {
        visible: true, // Show the join screen ?
        title: "Daily scrum", // Meeting title
        meetingUrl: window.location.href, // Meeting joining url
      },
    };

    meeting.init(config);
  });

  script.src =
    "https://sdk.videosdk.live/rtc-js-prebuilt/0.1.5/rtc-js-prebuilt.js";
  document.getElementsByTagName("head")[0].appendChild(script);
</script>
</body>
</html>
